<div class="c-users">
    <div class="user-card bg-white">
        <div class="photo">
            <img  src="https://images.theconversation.com/files/285143/original/file-20190722-11355-1peled7.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
        </div>
        <p class="name">Larissa Novaes</p>
        <p class="email">larissanovaes00@hotmail.com</p>
        <p class="repositories">30 Repositorios</p>
    </div>
    <div class="user-card bg-white">
        <div class="photo">
            <img  src="https://images.theconversation.com/files/285143/original/file-20190722-11355-1peled7.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
        </div>
        <p class="name">Larissa Novaes</p>
        <p class="email">larissanovaes00@hotmail.com</p>
        <p class="repositories">30 Repositorios</p>
    </div>
    <div class="user-card bg-white">
        <div class="photo">
            <img  src="https://images.theconversation.com/files/285143/original/file-20190722-11355-1peled7.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
        </div>
        <p class="name">Larissa Novaes</p>
        <p class="email">larissanovaes00@hotmail.com</p>
        <p class="repositories">30 Repositorios</p>
    </div>
    <div class="user-card bg-white">
        <div class="photo">
            <img  src="https://images.theconversation.com/files/285143/original/file-20190722-11355-1peled7.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
        </div>
        <p class="name">Larissa Novaes</p>
        <p class="email">larissanovaes00@hotmail.com</p>
        <p class="repositories">30 Repositorios</p>
    </div>
    <div class="user-card bg-white">
        <div class="photo">
            <img  src="https://images.theconversation.com/files/285143/original/file-20190722-11355-1peled7.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
        </div>
        <p class="name">Larissa Novaes</p>
        <p class="email">larissanovaes00@hotmail.com</p>
        <p class="repositories">30 Repositorios</p>
    </div>
    <div class="user-card bg-white">
        <div class="photo">
            <img  src="https://images.theconversation.com/files/285143/original/file-20190722-11355-1peled7.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
        </div>
        <p class="name">Larissa Novaes</p>
        <p class="email">larissanovaes00@hotmail.com</p>
        <p class="repositories">30 Repositorios</p>
    </div>
</div>
